* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #4A90E2;
  display: flex;
  justify-content: center;
}

header nav {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 14px;
  height: 64px;
  justify-content: space-between;
  padding: 0 42px;
  width: 100%;
}

nav span {
  font-size: 16px;
  font-weight: bold;
}

nav > div {
  align-items: center;
  display: flex;
}

nav > div > svg {
  margin-left: 8px;
  height: 24px;
  width: 24px;
}

.postlist {
  margin: 0 auto 20px;
  max-width: 700px;
}

.post {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #3e3e3e;
  line-height: 20px;
  margin-top: 20px;
  padding: 20px;
}

.post-header {
  align-items: center;
  display: flex;
}

.post-header .details {
  color: #9a9a9a;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-left: 10px;
}

.post-header .details span:first-child {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.avatar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.post-content {
  font-size: 14px;
  margin-top: 15px;
}

.divider {
  background-color: #eee;
  height: 1px;
  width: 100%;
}

.post-comments {
  margin-top: 20px;
}

.comment {
  display: flex;
  margin-top: 20px;
}

.comment p {
  background-color: #eee;
  border-radius: 10px;
  font-size: 13px;
  margin-left: 10px;
  padding: 15px;
}

.comment span {
  font-weight: bold;
  margin-right: 6px;
}

